**/*.list
**/*.log
**/*.svg
**/*.tree
**/*.woff2
**/*.xml
**/.dockerignore
**/.DS_Store
**/.gitignore
**/.husky
**/.idea
**/.npmrc
**/.prettierignore
**/.turbo
**/coverage/
**/dist
**/Dockerfile
**/fly.toml
**/images/
**/node_modules/
**/package.json
**/pnpm-lock.yaml
**/storybook-static
